= form_for [:admin,@text_repository] do |f|
  = render 'common/form_error', record: @text_repository

  = render 'repositories/forms/repository_type', f:f
  = render 'repositories/forms/repository_name', f:f
  = render 'repositories/forms/repository_description', f:f
  = render 'repositories/forms/text_category', f:f
  = render 'common/update_button', f:f
