%p
  %b Type:
  = @repository.type
%p
  %b User:
  = @repository.user_id
%p
  %b Repository type:
  = @repository.repository_type_id
%p
  %b Name:
  = @repository.name
%p
  %b Description:
  = @repository.description


- @repository.branches.each_with_index do |branch, i|
  %span #{i+1}:
  = link_to branch.name, user_repository_branch_path(branch.repository.user, branch.repository, branch)
  %br


- if current_user == @repository.user
  = link_to "New Branch", new_user_admin_repository_branch_path(current_user, @repository)
  \|
  = link_to 'Edit', edit_user_admin_repository_path(@repository.user,@repository)
  \|
= link_to 'Back', user_repositories_path(@repository.user)
