.container#user_edit
  %legend プロフィール編集
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked.nav-pills
        %li.active
          %a{href:"#basic"}
            基本情報
            %i.icon-chevron-right
        %li
          %a{href:"#important"}
            パスワード編集
            %i.icon-chevron-right
    .span9
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = devise_error_messages!
        .control-group
          .controls= f.label :email
          %br/
          = f.email_field :email
        .control-group
          .controls= f.label :password
          %i (leave blank if you don't want to change it)
          %br/
          .controls= f.password_field :password, :autocomplete => "off"
        .control-group
          = f.label :password_confirmation
          %br/
          .controls= f.password_field :password_confirmation
        .control-group
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          %br/
          .controls= f.password_field :current_password
        .control-group
          = f.submit "Update"
      %h3 Cancel my account
      %p
        = link_to 'Delete', user_path(current_user), method: :delete, data: {confirm:"Are you sure?"}
      = link_to "Back", :back
