= form_for [:admin, @repository.becomes(Repository)] do |f|
  = render 'common/form_error', record: @repository

  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    - RepositoryType.all.each do |repo_type|
      = f.radio_button :repository_type_id,repo_type.id
      %span= repo_type.name[current_locale]
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
