= form_for [:admin, @repository.becomes(Repository)], html:{class: "form-forizontal"} do |f|
  = render 'common/form_error', record: @repository

  = render 'repositories/forms/repository_type', f:f
  = render 'repositories/forms/repository_name', f:f
  = render 'repositories/forms/repository_description', f:f
  = render 'common/update_button', f:f
