%legend レポジトリ管理

%table.table.table-hover.table-striped
  %tr
    %th= t("activerecord.attributes.repository.type")
    %th= t("activerecord.attributes.repository.name")
    %th= t("activerecord.attributes.repository.description")
    %th Action

  - @repositories.each do |repository|
    %tr
      %td= repository.type_name[current_locale]
      %td= repository.name
      %td= repository.description
      %td= link_to 'Show', admin_repository_path(repository)

%br

= link_to 'New Repository', new_repository_path
