#repository_body.span9
  = render 'tab'

  %p
    %b Type:
    = @repository.type_name[current_locale]
  %p
    %b User:
    = @repository.user_display_name
  %p
    %b Repository type:
    = @repository.repository_type_name[current_locale]
  %p
    %b Name:
    = @repository.name
  %p
    %b Description:
    = @repository.description
  %p
    %b Category:
    = @repository.category_name[current_locale]

  - @repository.branches.each_with_index do |branch, i|
    = link_to "#{i+1}:#{branch.name}", admin_branch_path(branch)
    %br

  = link_to "Public Page", repository_path(@repository)
