%h1 publicなテキストレポジトリ閲覧のページ
%p
  %b User:
  = @text_repository.user_id
%p
  %b Repository type:
  = @text_repository.repository_type_id
%p
  %b Name:
  = @text_repository.name
%p
  %b Description:
  = @text_repository.description

- @text_repository.branches.each_with_index do |branch, i|
  = link_to "#{i+1}:#{branch.name}", branch_path(branch)
  %br

- if current_user == @text_repository.user
  = link_to 'Edit', edit_admin_text_repository_path(@text_repository)
  \|
= link_to 'Back', user_text_repositories_path(@text_repository.user)
