= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      - if @user.errors.count == 1
        %h2= t("errors.create.one",model:@user.class.model_name)
      - else
        %h2= t("errors.create.other",count:@user.errors.count,model:@user.class.model_name)
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :display_name
    = f.text_field :display_name
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    - Sex.all.each do |sex|
      = f.radio_button :sex_id,sex.id
      %span= sex.name[current_locale]
  .actions
    = f.submit t("label.user.update")
