= form_for @user do |f|
  = render 'common/form_error', record: @user

  .field
    = f.label :display_name
    = f.text_field :display_name
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    - Sex.all.each do |sex|
      = f.radio_button :sex_id,sex.id
      %span= sex.name[current_locale]
  .actions
    = f.submit t("label.user.update")
