.container#user_edit
  %legend プロフィール編集
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked.nav-pills
        %li.active
          %a{href:"#basic"}
            プロフィール情報
            %i.icon-chevron-right
        %li
          %a{href:"#system"}
            システム登録情報
            %i.icon-chevron-right
    .span9
      = render 'common/form_error', record: @user
      #basic
        %legend プロフィール情報
        = render 'users/form'
      #system
        %legend システム登録情報
        = render 'users/devise_form'
      #social_connect
        %legend ソーシャルメディア連携
        - unless @user.twitter_connected?
          = link_to "Connect with Twitter",user_omniauth_authorize_path(:twitter)
        - unless @user.facebook_connected?
          = link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook)
        - unless @user.google_connected?
          = link_to "Connect with Google", user_omniauth_authorize_path(:google_oauth2)
      #others
        %legend その他
        = link_to '自分のページを見る', user_path(current_user)
        = link_to '退会する', user_path(current_user), method: :delete , data: { confirm: "Are you sure?" }
