= form_for [:user, :admin, :repository, :branch, @kommit] do |f|
  = render 'common/form_error', record: @kommit
  - @branch.posts.each do |post|
    = fields_for "update_posts[#{post.id}]", post do |p|
      .field
        = p.label :title
        = p.text_field :title
      .field
        = p.label :body
        = p.text_area :body
      .field
        = p.label :delete
        = p.check_box :delete, {}, true, false
  = fields_for @new_post do |f|
    新しい
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :body
      = f.text_area :body
  .field
    = f.label :message
    = f.text_field :message
  .field
    = f.label :revision
    = f.text_field :revision
  
  .actions
    = f.submit 'Save'
