%h1 New kommit

%h3 Status

%div#added_post
  %p 追加されたポスト
  %ul
  - @status.added.each do |key, value|
    %li= key
%div#deleted_post
  %p 削除されたポスト
  %ul
  - @status.deleted.each do |key, value|
    %li= key
%div#updated_post
  %p 更新されたポスト
  %ul
  - @status.changed.each do |key, value|
    %li= key

//%pre
//  =@status.pretty



= render 'form'

= link_to 'Back', admin_branch_kommits_path(params[:branch_id])
