%p#notice= notice

%p
  %b Message:
  = @kommit.message
%p
  %b Revision:
  = @kommit.revision
%p
  %b Commit Date:
  = @kommit.info.authored_date
%p
  %b Author:
  = @kommit.user.try(:display_name)

- @kommit.info.diffs.each do |diff|
  - if diff.new_file
    新規ファイル
  - elsif diff.renamed_file
    名前の変更
  - elsif diff.deleted_file
    削除されたファイル
  %pre
    = diff.diff.force_encoding("UTF-8")
  %br

%h3 View Diff with this commit
- @branch.kommits.each do |kommit|
  - unless @kommit == kommit
    = link_to kommit.message, admin_branch_kommit_diff_path(params[:branch_id], @kommit, compare_id: kommit)

- unless @kommit.head?(@branch.name)
  = link_to 'Revert', admin_branch_kommit_revert_path(params[:branch_id], params[:id]), method: :post


= link_to 'Back', admin_branch_kommits_path(params[:branch_id])
