%p#notice= notice

%p
  %b Message:
  = @kommit.message
%p
  %b Revision:
  = @kommit.revision
- @kommit.info.diffs.each do |diff|
  - if diff.new_file
    新規ファイル
  - elsif diff.renamed_file
    名前の変更
  - elsif diff.deleted_file
    削除されたファイル
  %pre
    = diff.diff.force_encoding("UTF-8")
  %br
%h3 View Diff with this commit
- @branch.kommits.each do |kommit|
  - unless @kommit == kommit
    = link_to kommit.message, admin_branch_kommit_diff_path(params[:branch_id], @kommit, kommit)

= link_to 'Back', branch_kommits_path(params[:branch_id])
