= form_for [:admin, @branch.repository.becomes(Repository), @branch] do |f|
  = render 'common/form_error', record: @branch

  = f.hidden_field :repository_id
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
