%h1 New branch

= form_for @new_branch, url: admin_branch_checkouts_path do |f|
  = render 'common/form_error', record: @new_branch

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'

= link_to 'Back', repository_path(@repository)
