%p#notice= notice

%p
  %b Repository:
  = @branch.repository_id
%p
  %b Name:
  = @branch.name

- @branch.kommits.each_with_index do |kommit,i|
  = link_to "#{i+1}:#{kommit.message}", user_admin_repository_branch_kommit_path(params[:user_id], params[:repository_id], params[:id], kommit)
  %br
= link_to "Listing Kommit", user_admin_repository_branch_kommits_path(params[:user_id], params[:repository_id], params[:id])
%br
= link_to "Create Kommit", new_user_admin_repository_branch_kommit_path(params[:user_id], params[:repository_id], params[:id])
%br

= link_to 'Back', user_admin_repository_branches_path(params[:user_id], params[:repository_id])
