%p#notice= notice

%p
  %b Repository:
  = @branch.repository_id
%p
  %b Name:
  = @branch.name

- @branch.kommits.each_with_index do |kommit,i|
  = link_to "#{i+1}:#{kommit.message}", admin_branch_kommit_path(@branch, kommit)
  %br
= link_to "Listing Kommit", admin_branch_kommits_path(params[:id])
%br
= link_to "Create Kommit", new_admin_branch_kommit_path(params[:id])
%br
= link_to "Open Editor", admin_branch_posts_path(params[:id])
%br

= link_to 'Back', repository_branches_path(@branch.repository)
