.span12
  #repository_header.span9
    %h3
      = link_to @repository.name, admin_repository_path(@repository)
      @
      = link_to @branch.name, admin_branch_path(@branch)
  
  #repository_body.span9
    = render 'admin/branches/menu', branch:@branch
    = render 'admin/branches/list_dropdown', repository:@repository
    = render 'admin/branches/tab', branch:@branch

%p
  %b Name:
  = @branch.name

