%p
  %b Type:
  = @repository.type
%p
  %b User:
  = @repository.user_id
%p
  %b Repository type:
  = @repository.repository_type_id
%p
  %b Name:
  = @repository.name
%p
  %b Description:
  = @repository.description
