.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle"=>'collapse',"data-target"=>".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href:"/"} BungakuHub
      .nav-collapse
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle"=>"dropdown"}
              Work
              %b.caret
            %ul.dropdown-menu{role:'menu',"aria-labelledby"=>'drop1'}
              %li
                != link_to "Create Game Room",root_path
              %li
                = link_to "Game Room",root_path
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle"=>"dropdown"}
                = t("label.header.repository")
                %b.caret
              %ul.dropdown-menu{role:'menu',"aria-labelledby"=>"drop1"}
                %li
                  != link_to t("label.repository.list"),user_repositories_path(current_user)
                %li
                  != link_to t("label.repository.create"),new_user_repository_path(current_user)
                %li
                  != link_to t("label.repository.admin"),admin_repositories_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle"=>"dropdown"}
                Hello, #{current_user.display_name}
                %b.caret
              %ul.dropdown-menu{role:'menu',"aria-labelledby"=>'drop1'}
                %li
                  != link_to t("label.user.edit"),edit_user_path(current_user)
                %li
                  != link_to t("label.user.profile"),user_path(current_user)
                %li
                  != link_to "test",root_path
          - if user_signed_in?
            %li
              = link_to t("label.header.signout"),destroy_user_session_path
          - else
            %li
              = link_to t("label.header.signin"),new_user_session_path
            %li
              = link_to t("label.header.signup"),new_user_registration_path
        %ul.nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle"=>"dropdown"}
              = I18n.t("label.header.language")
              %b.caret
            %ul.dropdown-menu{role:'menu',"aria-labelledby"=>'drop1'}
              - Language.all.each do |lang|
                %li
                  != link_to t("label.header.#{lang.code}"),"?locale=#{lang.code}"
